.social__button {
  width: 28px;
  height: 22px;
}

.social__button--vk {
  background-image: url("../images/common/vkontakte.svg");
  background-repeat: no-repeat;
}

.social__button--youtube {
  background-image: url("../images/common/youtube.svg");
  background-repeat: no-repeat;
}

.social__button--telegram {
  background-image: url("../images/common/telegram.svg");
}

.main-footer__logo--text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
